[Unit]
Description=Gunicorn instance to serve interactive CV
After=network.target ngrokCV.service
#Requires=ngrokCV.service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/workspace/interactiveCV
Environment="PATH=/home/ubuntu/workspace/interactiveCV/venv/bin"
ExecStart=/home/ubuntu/workspace/interactiveCV/venv/bin/gunicorn \
    --worker-class eventlet \
    --workers 1 \
    --bind 127.0.0.1:5001 \
    main:app
Restart=always

[Install]
WantedBy=multi-user.target
